@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/site.css">

        <style>
            .nav-link{
                color:#007a8f;
            }
        </style>
    </head>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="header-letters nav-link" style="color: #007a8f" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  style="color: #007a8f" type="submit" class="header-letters nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="header-letters" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="header-letters" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
