@model WebApplication3.ViewModels.AddressListViewModel
@{
    ViewData["Title"] = "AdddressList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdddressList</h1>
@Html.ActionLink("Add Address", "NewAddress", "Schedule", null, new { @class = "btn btn-primary" })

@{
    if (!Model.Addresses.Any())
    {
        
        <p></p>
        <p>No addresses available, please create your first request!</p>
        <p></p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Schedule</th>
                    
                    <th>Delete Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var address in Model.Addresses)
                {
                    <tr>
                        <td>@Html.ActionLink(address.Address, "EditAddress", "Schedule", new { id = address.Id }, null)</td>

                      
                        <td>@Html.ActionLink("Delete Address", "DeleteAddress", "Schedule", new { id = address.Id }, new { @class = "btn btn-primary" })</td>
                    </tr>

                }
            </tbody>
        </table>

    }
}
