/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec1;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.field-validation-error {
    color: red;
    border: 2px solid red
}

h1 {
    color: #4182e5
}

label {
    font-size: 100%;
    color: #4182e5;
    font-weight: bold;
}

details {
    color: #d4d3fe;
    font-size: 80%
}

p {
    font-size: 90%;
    color: #4182e5
}


h2 {
    font-size: 250%;
    color: #4182e5;
    background-color: rgba(97, 161, 255, 0.21);
}


textarea {
    min-height: 10%;
    max-height: 50%;
    width: 50%
}

div.form-group {
    background-position: right;
    position: relative;
    right: 7%
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.TableDisplay {
    color: white
}

.ScheduleStatus{
    color: red;
}

th{
    color: white;
    font-weight: bold;
}

#topImage {
    position: relative;
    right: 50%;
    z-index: -1;
    height: 150%;
    width: 190%;
    bottom: 10%;
    
    
    
}

.row1 {
    margin: 20px auto;
    max-width: 100%;
    display: grid;
    padding: 30px;
    column-gap: 20px;
    grid-template-columns: 2fr 5fr ; /* Size of items defined inside container */
}

.fullRow {
    margin: 20px auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.row1 div {
    
}

.header-letters {
    color: #007a8f;
    padding: 20px;
    font-weight:900;
    font-size: 120%;
    
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../Images/Secagem3.png');
}

.frontPage {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) ), url('../Images/Waves3.jpg');
    overflow-x: hidden;
    background-attachment: fixed;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.leftColumn {
    font-size: 130%;
    color: #004f9d;
    font-weight: bold;

}

.rightColumn {
    color: #223556;
    font-size: 105%;
    font-weight: bold;
}

h3 {
    color: #1b6ec2;
}

.headerImage {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ), url("../Images/background_Waves.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

td{
    color: aliceblue;
}
